<div class="container">
    <div class="tips-from-recruiter">
        <h1>S.M.A.R.T. Resume Goals & Get Your Dream Job</h1>
        <hr>
        <p>
             We are frequently mistreated, misunderstood and misrepresented. The up side to this dilemma is we can eliminate most of the confusion and despair that accompanies beating the streets for that ideal career position by implementing a simple, yet very successful, plan of action. Which starts with a good resume.       
            S.M.A.R.T. is and an acronym for Specific, Measurable, Attainable, Risky, Time table. This goal setting program can be applied to your resume creation and self marketing campaign. Therefore, it helps tremendously to ensure your overall success.
        </p>
        <hr>
        <h2><span style="color:red">SPECIFIC:</span> Set specific goals.</h2>
        <p>
            This means select a definite career niche, industry or position. For instance, you may want to be Vice President in Operations in the auto industry. Therefore, your resume should indicate what direction you are striving for not only in the objective statement but throughout the body of the document as well. But at the same time you may not be limited to just the 
            industry you currently familiar with because that is in fact secondary. The key is as long as you are specific in how you design your resume you stand a pretty good chance of achieving your desired goal.
        </p>
        <h2><span style="color:red">MEASURABLE:</span> Set measurable goals.</h2>
        <p>
            If what we want is not quantified we can’t define it or even know if we have achieve it. One of the best examples of this quandary is salary. If we state that we will accept whatever salary is offered than you can bet the company will offer a salary as low as they possibly can. It is in your best interest to have an appropriate salary 
            range in mind for the given position before you meet with anyone.
        </p>
        <h2><span style="color:red">ATTAINABLE:</span> Set attainable goals.</h2>
        <p>
            You may want to be a lawyer; but, if you don’t complete law school your odds are slim. However, if you study and complete a massage therapy program, even though you have never worked in that field, you are now primed for this new career opportunity. And with a good resume you can get your foot in that door.
        </p>
        <h2><span style="color:red">RISKY:</span> Set risky goals.</h2>
        <p>
            This is the flip side of attainable. Take a chance. Stretch yourself. One of the most exciting aspects of my resume writing and executive search business is seeing candidates reach for a loftier position than they have ever had before. Isn’t it time you get a promotion and get a raise! However, to achieve this goal may require taking a risk and exploring a new company, position or industry and leaving the cushy familiarity behind. Nothing I love better than having a client read their new resume, look up at me, smile and say: “Wow, I’d hire me!”
        </p>
        <h2><span style="color:red">TIME TABLE:</span> Set goals with a definite time line.</h2>
        <p>
            If you make up your mind that you will have a job within 30 days you most likely will. Too many people let the long recession we are experiencing keep them down. Many have gone 3, 6 or even 12 months without work because they didn’t set a definite goal. That’s scary. But most of us do answer the call under pressure. Therefore, get your resume prepared or updated as soon as possible.
        </p>
        <hr>
        <p>So if you commit to success by setting Specific, Measurable, Attainable, Risky, Time table goals, then you will be well on your way to landing your dream job today!</p>
    </div>
  </div>
   