<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse header-transparent fixed-top">
    <a class="navbar-brand" routerLink="/main" routerLinkActive="active">
        <img class="tie-tight" src="assets/images/brand/resumex_tie.png" alt="tie logo">
        <img src="assets/images/brand/resumex_bold_word.png" alt="resumex logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a pageScroll pageScrollSpeed=1000 class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a pageScroll pageScrollSpeed=1000 class="nav-link" href="#howitworks">Demo</a>
            </li>
            <li class="nav-item">
                <a (click)="createResume()" class="nav-link bg-primary btn-rounded" style="color:white">EDIT RESUME</a>
            </li>
        </ul>
    </div>
</nav>
<section id='home' class="hero heroFullscreen bg-parallax" data-jarallax='{"speed": 0.2}' style='background-image: url("assets/images/landing-page/bg6.jpg")'>
    <div class='hero-overlay'></div>
    <div class="d-flex align-items-center">
        <div class="scroll-to hero-mouse">
            <a style="color: white" pageScroll pageScrollSpeed=1000 href="#about">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class=" col-md-8  offset-md-2 text-center">
                    <h2>Pitch Yourself In One Page.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  offset-md-2 text-center">
                    <h4 style="padding-top:0px;letter-spacing: 0.1em;color:white;font-weight: 200">ResumeX is an online tool that helps you create a powerful, impactful resume quickly.</h4>
                    <a pageScroll pageScrollSpeed=1000 href="#howitworks" class="btn btn-white-outline btn-lg btn-linkify" style="color:aliceblue; margin-top:5px;">Learn More</a>
                    <a (click)="createResume()" class="btn btn-white-outline btn-lg btn-linkify" style="color:aliceblue; margin-left:5px; margin-top:5px;">Try For Free</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.hero-->

<!--about us-->

<div class="parallax-cta pt50 pb10 bg-parallax text-center" data-jarallax='{"speed": 0.1}' style='background-image: url("assets/images/landing-page/bg2.jpg")'>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
                <div class="media fun-facts">
                    <div class="media-body">
                        <p class="mt-0">
                            <img src="assets/images/target.png" class="img-fluid" style="margin-top:10px;" alt="Responsive image">
                        </p>
                    </div>
                </div>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".4s">
                <div class="media fun-facts">
                    <div class="media-body">
                        <p class="mt-0">
                            <img src="assets/images/amazon.png" class="img-fluid" style="margin-top:10px;" alt="Responsive image">
                        </p>
                    </div>
                </div>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".6s">
                <div class="media fun-facts">
                    <div class="media-body">
                        <p class="mt-0">
                            <img src="assets/images/disney.png" class="img-fluid" style="margin-top:10px;" alt="Responsive image">
                        </p>
                    </div>
                </div>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".8s">
                <div class="media fun-facts">
                    <div class="media-body">
                        <p class="mt-0">
                            <img src="assets/images/netflix.png" class="img-fluid" style="margin-top:10px;" alt="Responsive image">
                        </p>
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
    </div>
</div>
<!--/.fun facts-->

<!--Features Section-->
<section class="feature-styles" id="howitworks" class="pt50 pb60">
    <div class="row">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3" >
            <div class="section-title" style="margin-bottom: 0px !important;">
                <h4>How It Works</h4>
            </div>
        </div>
    </div>
    <div class="container feature-container feature-styles pt20">
        <div class="row">
            <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="main-image" src="assets/images/gifs/attempt11-slide1.gif" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-pull-5 col-md-6 col-sm-12 col-xs-12" style="padding-top:10px;">
                <h3>Live Preview</h3>
                <div class="txt">
                    ResumeX allows you to preview your resume as you type. We researched and selected the optimal resume template that is
                    favored by most companies.
                </div>
            </div>
        </div>
    </div>
    <div class="container feature-container feature-styles pt20">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="main-image" src="assets/images/gifs/attempt6-slide2.gif" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top:10px;">
                <h3>Phrase Suggestions</h3>
                <div class="txt">
                    Having a hard time figuring out what to write? Our phrase suggestion tool provides you phrases based on your accomplishments
                    and responsibilites in your current or previous job.
                </div>
            </div>
        </div>
    </div>
</section>


<!--/process-->
<div class="textillate-container bg-parllax parallax-overlay pt50 pb60" data-jarallax='{"speed": 0.2}' style='background-image: url("assets/images/landing-page/bg4.jpg")'>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="more_info_title">
                    <h2>For students and job seekers</h2>
                </div>
                <!-- <p class="mb20"> -->
                <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-lg-2 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
                        <div class="media fun-facts">
                            <div class="media-body">
                                <p class="mt-0">
                                    <img class="main-image" src="assets/images/list-users/berkeley.png" class="img-fluid" alt="Responsive image">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                    <div class="col-lg-2 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".4s">
                        <div class="media fun-facts">
                            <div class="media-body">
                                <p class="mt-0">
                                    <img class="main-image" src="assets/images/list-users/uofi.png" class="img-fluid" alt="Responsive image">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                    <div class="col-lg-2 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".6s">
                        <div class="media fun-facts">
                            <div class="media-body">
                                <p class="mt-0">
                                    <img class="main-image" src="assets/images/list-users/drake.png" class="img-fluid" alt="Responsive image">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                    <div class="col-lg-2 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".8s">
                        <div class="media fun-facts">
                            <div class="media-body">
                                <p class="mt-0">
                                    <img class="main-image" src="assets/images/list-users/kirkwood.png" class="img-fluid" alt="Responsive image">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                    <div class="col-lg-2 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".8s">
                        <div class="media fun-facts">
                            <div class="media-body">
                                <p class="mt-0">
                                    <img class="main-image" src="assets/images/list-users/iowa-state.png" class="img-fluid" alt="Responsive image">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                    <div class="col-lg-2 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".8s">
                        <div class="media fun-facts">
                            <div class="media-body">
                                <p class="mt-0">
                                    <img class="main-image" src="assets/images/list-users/duke.png" class="img-fluid" alt="Responsive image">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                </div>
                <!-- </div> -->
                <!-- </p> -->
                <a (click)="createResume()" class="btn btn-white-outline btn-lg btn-linkify" style="color:aliceblue;">Create My Professional Resume</a>
            </div>
        </div>
    </div>
</div>
<!--/ animated text-->

<!--/ Journal-->


<!--/.bottom links-->
<footer id="footer" class="footer  pt30 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span>
                    &copy; ResumeX 2022
                </span>
            </div>
        </div>
    </div>
</footer>
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top">
    <i class="fa fa-hand-o-up" aria-hidden="true"></i>
</a>