<div class="modal-header">
   <h5 class="modal-title">Forgot Password</h5>
   <a class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
   </a>
</div>
 
<div class="modal-body">
  <div class="forgetPasswordScreen">
    <form [formGroup]="passwordForm">
      <div class="form-group">
        <label for="email" style="color: #202323;"><b>Email</b></label>
        <input class="form-control" type="email" formControlName="email" />
      </div>
      <ngb-alert *ngIf="pwdResult" type="{{errType}}" (close)="pwdResult = null">{{ message }}</ngb-alert>
      <hr>
      <div class="form-group">
        <a class="forgotPassword" (click)="backToLogin()">Back To Login Screen</a>
        <button class="btn btn-login float-right" type="submit" value="Submit" (click)="emailResetPassword()">
                            Reset My Password
                    </button>
      </div>
    </form>
  </div>
</div>
