<div class="container" style="margin-bottom:145px;">
  <div class="pricing">
    <div class="row justify-content-md-center">
      <div class="columns">
        <ul class="price">
          <li class="header">Free</li>
          <li class="white">$&nbsp;0&nbsp;</li>
          <li class="body"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Formatted template</li>
          <li class="body"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Limited phrase suggestions</li>
          <li class="body"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print anytime, anywhere</li>
          <li class="body">&nbsp;&nbsp;</li>
          <li class="body">&nbsp;&nbsp;</li>
          <li class="body" style="padding-bottom:20px;">&nbsp;&nbsp;</li>
          <li class="bottom"><button class="btn btn-md btn-create" (click)="createResume()">Create</button>
          </li>
        </ul>
      </div>

      <!-- Table #1  -->
      <div class="columns">
        <ul class="price">
          <li class="header">Standard</li>
          <li class="white">$&nbsp;1&nbsp;/&nbsp;month</li>
          <li class="body"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Formatted template</li>
          <li class="body"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;Save multiple revisions</li>
          <li class="body"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;Share revisions with others</li>
          <li class="body"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print or download anytime</li>
          <li class="body"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;Additional phrase suggestions</li>
          <li class="body" style="padding-bottom:20px;"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;Easily sffordable, cancel anytime</li>
          <li class="bottom"><button class="btn btn-md btn-signup" (click)="signUp()">Sign Up</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>