/* the ball */
#ballMenuContainer {
    position: fixed;
    right: 25px;
    z-index: 1;
    bottom: 50px;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
    50% {
      -webkit-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
}
@-o-keyframes pulse {
    0% {
      -o-transform: scale(1) rotate(0deg); 
    }
    50% {
      -o-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -o-transform: scale(1) rotate(0deg); 
    }
}
@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1) rotate(0deg); 
    }
    50% {
      -moz-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -moz-transform: scale(1) rotate(0deg); 
    }
}
@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
}

@-webkit-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@-o-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@-moz-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}

.menuBall {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.ball {
    position:absolute;
    width:100%;
    height:100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #9E9792;
    margin: 10px;
    text-decoration: none;
    cursor: pointer; cursor: hand
    
}

.ball:hover {
    -webkit-animation: pulse 1s ease 0s infinite normal;
    -o-animation: pulse 1s ease 0s infinite normal;
    -moz-animation: pulse 1s ease 0s infinite normal;
    animation: pulse 1s ease 0s infinite normal;
}


.blueball {
    background-color: #1D2838;
    -moz-box-shadow: 0 0 0 3px #1D2838, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #1D2838, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #1D2838, 2px 1px 6px 4px rgba(10,10,0,.5);
  
    background-size: 8px 8px;
      margin-top: 40px;
}

.redball {
    background-color: #9C081F;
    -moz-box-shadow: 0 0 0 3px #9C081F, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #9C081F, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #9C081F, 2px 1px 6px 4px rgba(10,10,0,.5);
  
    background-size: 8px 8px;
    margin-top: 25px;
}

.greenball {
    -moz-box-shadow: 0 0 0 3px #1D2838, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #1D2838, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #1D2838, 2px 1px 6px 4px rgba(10,10,0,.5);

    background:
        -webkit-radial-gradient(#e8b15e 4px, transparent 6px);
    background:
        -moz-radial-gradient(#e8b15e 4px, transparent 6px);
    background-size: 20px 20px;
  
    background-image: -webkit-radial-gradient(#e8b15e 15%, transparent 16%),
        -webkit-radial-gradient(#e8b15e 15%, transparent 16%);
    background-image: -moz-radial-gradient(#e8b15e 15%, transparent 16%),
        -moz-radial-gradient(#e8b15e 15%, transparent 16%);
    background-color: #1D2838;
    background-size:30px 30px;
    background-position: 0 0, 20px 20px;
}

.menuText {
    font-family: 'IdolwildRegular' , Verdana, Helvetica, Sans-Serif;
    font-size: larger;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 40%;
}

#menuBall2 {
  -webkit-animation: bump 6s linear 1s infinite normal;
}
#menuBall3 {
  -webkit-animation: bump 6s linear 1s infinite normal;
}
#menuBall4 {
  -webkit-animation: bump 6s linear 1.5s infinite normal;
}

#menuBall2 {
  -moz-animation: bump 6s linear 1s infinite normal;
}
#menuBall3 {
  -moz-animation: bump 6s linear 1s infinite normal;
}
#menuBall4 {
  -moz-animation: bump 6s linear 1.5s infinite normal;
}

#menuBall2 {
  -o-animation: bump 6s linear 1s infinite normal;
}
#menuBall3 {
  -o-animation: bump 6s linear 1s infinite normal;
}
#menuBall4 {
  -o-animation: bump 6s linear 1.5s infinite normal;
}

#menuBall2 {
  animation: bump 6s linear 1s infinite normal;
}
#menuBall3 {
  animation: bump 6s linear 1s infinite normal;
}
#menuBall4 {
  animation: bump 6s linear 1.5s infinite normal;
}
/* the ball ends*/
