<app-navbar></app-navbar>
<div class="d-flex justify-content-center update-pwd">
    <div class="col-md-3 col-md-offset-3">
        <form [formGroup]="passwordForm">
            <h4>Reset Password</h4>

            <ngb-alert *ngIf="pwdResult" type="{{errType}}" (close)="pwdResult = null">{{ message }}</ngb-alert> 
            
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input [attr.disabled]="loading?'':null" class="form-control" type="password" formControlName="password" />
            </div>

            <div class="form-group">
                <label for="password_retype" ><b>Retype Password</b></label>
                <input [attr.disabled]="loading?'':null" class="form-control" type="password" formControlName="password_retype" />
            </div>
            
            <hr>

            <div class="form-group">
                <button class="btn btn-secondary float-right"  (click)="resetPassword()" [attr.disabled]="loading?'':null">
                        <span *ngIf="loading"><i class="fa fa-spinner fa-spin" aria-hidden="true" ></i>&nbsp;Resetting Password</span>
                        <span *ngIf="!loading"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Reset&nbsp;Password&nbsp;</span>
            </button>
            </div>
        </form>
    </div>
</div>
