<div class="container">
  <div class="termsPage">
    <h1>Terms & Conditions</h1>
    <hr>
    <p>By accessing this web site, you are agreeing to be bound by these web site Terms and Privacy Policy, all applicable laws
      and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree
      with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web
      site are protected by applicable copyright and trade mark law. ResumeX allows people to generate resumes online
      based on the data provided by them.
    </p>
    <hr>
    <h2>USE LICENSE</h2>
    <p>Permission is granted to temporarily download one copy of the materials (information or software) on ResumeX's
      web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title,
      and under this license you may not:
    </p>
    <ul>
      <li>modify or copy the materials;</li>
      <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
      </li>
      <li>attempt to decompile or reverse engineer any software contained on ResumeX's web site;</li>
      <li>remove any copyright or other proprietary notations from the materials; or</li>
      <li>transfer the materials to another person or 'mirror' the materials on any other server.</li>
    </ul>
    <p> This license shall automatically terminate if you violate any of these restrictions and may be terminated by ResumeX
      at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy
      any downloaded materials in your possession whether in electronic or printed format.</p>
    <h2>DISCLAIMER</h2>
    <p>The materials on ResumeX's web site are provided 'as is'. ResumeX makes no warranties, expressed or implied,
      and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions
      of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation
      of rights. Further, ResumeX does not warrant or make any representations concerning the accuracy, likely results,
      or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any
      sites linked to this site.</p>
    <h2>LIMITATIONS</h2>
    <p>In no event shall ResumeX or its suppliers be liable for any damages (including, without limitation, damages for
      loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials
      on ResumeX's Internet site, even if ResumeX or a ResumeX authorized representative has been notified
      orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied
      warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to
      you.</p>
    <h2>REVISIONS AND ERRATA</h2>
    <p>The materials appearing on ResumeX's web site could include technical, typographical, or photographic errors. ResumeX
      does not warrant that any of the materials on its web site are accurate, complete, or current. ResumeX may make
      changes to the materials contained on its web site at any time without notice. ResumeX does not, however, make
      any commitment to update the materials.</p>
    <h2>LINKS</h2>
    <p>ResumeX has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents
      of any such linked site. The inclusion of any link does not imply endorsement by ResumeX of the site. Use of
      any such linked web site is at the user's own risk.</p>
    <h2>GOVERNING LAW</h2>
    <p>Any claim relating to ResumeX's web site shall be governed by the laws of the United States of America without
      regard to its conflict of law provisions. General Terms and Conditions applicable to Use of a Web Site.</p>
    <h2>INTELLECTUAL PROPERTY INFORMATION</h2>
    <p>For purposes of these Terms and Privacy Policy, 'content' is defined as any information, data, communications, software,
      photos, video, graphics, music, sounds, and other material and services that can be viewed by users on our site. By
      accepting these Terms and Privacy Policy, you acknowledge and agree that all content presented to you on this site
      is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws, and is the sole
      property of ResumeX. You are only permitted to use the content as expressly authorized by us. Except for a single
      copy made for personal use only, you may not copy, reproduce, modify, republish, upload, post, transmit, or distribute
      any documents or information from this site in any form or by any means without prior written permission from us, and
      you are solely responsible for obtaining permission before reusing any copyrighted material that is available on this
      site. Any unauthorized use of the materials appearing on this site may violate copyright, trademark and other applicable
      laws and could result in criminal or civil penalties.</p>
    <h2>GENERAL TERMS AND CONDITIONS FOR ALL SUBSCRIPTIONS</h2>
    <p>Subscriptions are non-cancelable and non-returnable. You may cancel your subscription, but no refunds will be paid on
      any remaining subscription period. An internet connection is required to use and manage your subscription basis. Without
      an internet connection, your software may stop running. Subscription pricing is subject to change. New pricing takes
      effect upon renewal of your subscription.</p>
    <h2>MONTHLY SUBSCRIPTION</h2>
    <p>Your monthly subscription for ResumeX will start after receiving your payment and will continue for a period of
      thirty days. When you purchase a monthly subscription, auto-renew is automatically selected in your account. At the
      end of the monthly subscription period, you will automatically be signed up and billed for an additional subscription
      term of 30 days. If you do not wish to renew your subscription, you have to cancel it prior to the end of your current
      subscription term. You will remain on ResumeX subscription until the last paid for period expires.</p>
    <h2>COMMUNICATIONS</h2>
    <p>We may use your personal information to contact you with newsletters, marketing or promotional materials and other information
      that may be interesting for you. You can opt out of receiving any of these communications from ResumeX. Simply
      click unsubscribe link in emails or contact ResumeX support to opt you out.</p>
    <h2>SEVERABILITY</h2>
    <p>If any provision in these terms is held to be invalid, void, or unenforceable, such provision (or the part of it that
      is making it invalid, void or unenforceable) will be struck and not affect the validity of the remaining provisions.</p>
    <h2>TERMINATION AND CHANGE</h2>
    <p>ResumeX may suspend or terminate the ResumeX Referral Program or a user’s ability to participate in the ResumeX
      Referral Program at any time for any reason.</p>
    <p>We reserve the right to suspend accounts or remove provisions if we notice any activity that we believe is abusive or
      fraudulent. We reserve the right to review and investigate all referral activities and to suspend accounts or modify
      referrals as deemed fair and appropriate. We reserve the right for future changes of provisions and discounts for ResumeX
      users.</p>
    <h2>UPDATES TO THE TERMS</h2>
    <p>We can update these terms at any time without prior notice. If we modify these terms, we will post the modification on
      the ResumeX.com website</p>
  </div>
</div>
<!--footer-->
<!-- <app-footer></app-footer> -->