
.card-block {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
.cardnumber {
  padding-left:30px;
  padding-right:35px;
}

.cardname {
  padding-left:30px;
  padding-right:35px;
}

.card_year_cvc{
  padding-left:20px;
  padding-right:20px;
}