<div class="container">
    <div class="list-users d-flex justify-content-center">
        <table>
            <tr>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/berkeley.png" class="img-fluid" alt="Responsive image">
                </td>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/brown.png" class="img-fluid" alt="Responsive image">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/uofi.png" class="img-fluid" alt="Responsive image">
                </td>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/drake.png" class="img-fluid" alt="Responsive image">

                </td>
            </tr>
            <tr>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/kirkwood.png" class="img-fluid" alt="Responsive image">

                </td>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/iowa-state.png" class="img-fluid" alt="Responsive image">

                </td>
            </tr>
            <tr>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/duke.png" class="img-fluid" alt="Responsive image">

                </td>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/michigan.png" class="img-fluid" alt="Responsive image">

                </td>
            </tr>
            <tr>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/johnshopkins.png" class="img-fluid" alt="Responsive image">

                </td>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/northwestern.png" class="img-fluid" alt="Responsive image">

                </td>
            </tr>
            <tr>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/standford.png" class="img-fluid" alt="Responsive image">

                </td>
                <td>
                    <img class="main-image" src="../../../assets/images/list-users/wisconsin-madison.png" class="img-fluid" alt="Responsive image">

                </td>
            </tr>
        </table>

    </div>
</div>