<div class="container">
    <div class="things-to-avoid">
        <h1>What To Avoid</h1>
        <hr>
        <h2>Too Much Personal information</h2>
        <p>
            Don't include things like date of birth, ethnicity, religious affiliations (unless the job you're going for is somehow related), 
            reasons for leaving your previous job, or phone numbers of previous employers.
        </p>
        <hr>
        <h2>Avoid the "Objective" section</h2>
        <p>
            Honestly, recruiters know that you are seeking or looking for a job. This section seems redundant.
            Instead of describing what you are searching for--the "Objective" section of a resume--tell the prospective employer how valuable 
            you can be to their company in the content of your resume. Elobarate your achivements and responsibilities on your resume.
        </p>
        <hr>
        <h2>Misspelled words and poor grammar</h2>
        <p>This is a no-brainer.
            Misspelled words and poor grammar are total job-possibility killers--proofread several times and have others proof for you. Practice makes perfect!
        </p>
        <hr>
        <h2>A photo</h2>
        <p>
            The only reason you should ever include a photo with a resume is if how you look really does matter and was requested by a prospective employer. The advice for LinkedIn is, of course, the exact opposite. Profiles with photos get more clicks, and more clicks get you seen more. Just make it professional
             and don't get all artsy--unless you're an artist.
        </p>
        <hr>
        <h2>Gaps in work experience (if you can)</h2>
        <p>
            In some cases you may have a gap of a few months or more between leaving a job and getting a new job. Consider filling this gap with volunteer work, or perhaps you helped someone with his or her business, which would be considered consulting.
        </p>
        <hr>
        <h2>References</h2>
        <p>
            This is considered filler for a resume. You will be asked for references if you make it to the next step in the interview process. However, on LinkedIn, try to collect as many recommendations as you can.
        </p>
        <hr>
        <h2> The second page</h2>
        <p>
            Provide the most-important information about you and your experience on one page--rarely is the second page even glanced at. On LinkedIn, try not to go on and on and on and on        
        </p>
        <hr>
        <h2>The word "Resume"</h2>
        <p>
            Don't title your resume, "Resume." Ugh...
        </p>
        <hr>
        <h2>Paragraphed job descriptions</h2>
        <p>
            Use bullet points--but not so many that your reader becomes bleary-eyed. Prospective employers are much more likely to trash a resume with heavy content paragraphs versus a neat and clean bulleted resume.
        </p>
        <hr>
        <h2>Salary figures--past and future</h2>
        <p>
            If you document what you were making, you could be selling yourself short, and if you say how much you would like to make, you could be killing any chance of an interview.
        </p>
        <hr>
        <h2>Generic job titles</h2>
        <p>Recreate generic company-issued job titles so that your future employer has a better idea of what it was you actually did.</p>
    </div>
  </div>
   